<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NHL Match-Up Calculator</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <div class="container" id="jumbo">
        <div class="row">
            <div class="col-md-12 jumbotron text-center">
                <h1>NHL Match-Up Calculator</h1>
                <p>Use this interactive dashboard to predict what team will win</p>
            </div>
        </div>
        <div class="div1" id="selector">
            <div class="row">
                <div class="col-md-12">
                    <div class="choose">
                        <div class="col-md-12 text-center">
                            <h1>Choose Match-Up</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="well">
                                <strong>Home Team</strong>
                                <select id="selHome" onchange="optionChanged(this.value)"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="well">
                                <strong>Date</strong>
                                <select id="selDate" onchange="optionChanged(this.value)"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="well">
                                <strong>Away Team</strong>
                                <select id="selAway" onchange="optionChanged(this.value)"></select>
                            </div>
                        </div>
                        <div class="col-md-4 col-md-offset-4">
                            <button class="btn btn-danger btn-lg btn-block" type="submit">Face-Off</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table>
            <td></td>
        </table>
    </div>
    
</body>
</html>