<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NHL Match-Up Calculator</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <div class="container" id="jumbo">
        <div class="row">
            <div class="col-md-12 jumbotron text-center">
                <h1>NHL Match-Up Calculator</h1>
                <p>Use this interactive dashboard to predict what team will win</p>
            </div>
        </div>
        <div class="div1" id="selector">
            <div class="row">
                <div class="col-md-12">
                    <div class="choose">
                        <div class="col-md-12 text-center">
                            <h1>Choose Match-Up</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="well">
                                <strong>Home Team</strong>
                                <select id="Home">
                                    <option id="1">New Jersey Devils</option>
                                    <option id="2">New York Islanders</option>
                                    <option id="3">New York Rangers</option>
                                    <option id="4">Pliladelphia Flyers</option>
                                    <option id="5">Pittsburg Penguins</option>
                                    <option id="6">Boston Bruins</option>
                                    <option id="7">Buffalo Sabres</option>
                                    <option id="8">Montreal Canadiens</option>
                                    <option id="9">Ottawa Senators</option>
                                    <option id="10">Toronto Maple Leafs</option>
                                    <option id="11">Atlanta Thrashers</option>
                                    <option id="12">Carolina Hurricanes</option>
                                    <option id="13">Florida Panthers</option>
                                    <option id="14">Tampa Bay Lightning</option>
                                    <option id="15">Washington Capitals</option>
                                    <option id="16">Chicago Blackhawks</option>
                                    <option id="17">Detroit Red Wings</option>
                                    <option id="18">Nashville Predators</option>
                                    <option id="19">St Louis Blues</option>
                                    <option id="20">Calgary Flames</option>
                                    <option id="21">Colorado Avalanche</option>
                                    <option id="22">Edmonton Oilers</option>
                                    <option id="23">Vancouver Canucks</option>
                                    <option id="24">Anaheim Ducks</option>
                                    <option id="25">Dallas Stars</option>
                                    <option id="26">Los Angeles Kings</option>
                                    <option id="27">Phoenix Coyotes</option>
                                    <option id="28">San Jose Sharks</option>
                                    <option id="29">Columbus Blue Jackets</option>
                                    <option id="30">Minnesota Wild</option>
                                    <option id="52">Winnipeg Jets</option>
                                    <option id="53">Arizona Coyotes</option>
                                    <option id="54">Vegas Golden Knights</option>
                                </select>
                            </div>
                        </div>
                        <div class="result">
                            <div class="col-md-4">
                                <div class="well">
                                    <strong>Winner: {{results}}</strong>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="well">
                                <strong>Away Team</strong>
                                <select id="Away">
                                    <option id="1">New Jersey Devils</option>
                                    <option id="2">New York Islanders</option>
                                    <option id="3">New York Rangers</option>
                                    <option id="4">Pliladelphia Flyers</option>
                                    <option id="5">Pittsburg Penguins</option>
                                    <option id="6">Boston Bruins</option>
                                    <option id="7">Buffalo Sabres</option>
                                    <option id="8">Montreal Canadiens</option>
                                    <option id="9">Ottawa Senators</option>
                                    <option id="10">Toronto Maple Leafs</option>
                                    <option id="11">Atlanta Thrashers</option>
                                    <option id="12">Carolina Hurricanes</option>
                                    <option id="13">Florida Panthers</option>
                                    <option id="14">Tampa Bay Lightning</option>
                                    <option id="15">Washington Capitals</option>
                                    <option id="16">Chicago Blackhawks</option>
                                    <option id="17">Detroit Red Wings</option>
                                    <option id="18">Nashville Predators</option>
                                    <option id="19">St Louis Blues</option>
                                    <option id="20">Calgary Flames</option>
                                    <option id="21">Colorado Avalanche</option>
                                    <option id="22">Edmonton Oilers</option>
                                    <option id="23">Vancouver Canucks</option>
                                    <option id="24">Anaheim Ducks</option>
                                    <option id="25">Dallas Stars</option>
                                    <option id="26">Los Angeles Kings</option>
                                    <option id="27">Phoenix Coyotes</option>
                                    <option id="28">San Jose Sharks</option>
                                    <option id="29">Columbus Blue Jackets</option>
                                    <option id="30">Minnesota Wild</option>
                                    <option id="52">Winnipeg Jets</option>
                                    <option id="53">Arizona Coyotes</option>
                                    <option id="54">Vegas Golden Knights</option> 
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 col-md-offset-4">
                            <button class="btn btn-danger btn-lg btn-block" href="/pull" type="submit">Face-Off</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table>
            <td></td>
        </table>
    </div>
    <script src="static/js/getid.js"></script>
</body>
</html>