.jumbotron {
    background-image: url("../images/hockey_stadium.jpg");
    background-size: 100% 100%;
    text-align: center;
    color: white;
  }

  body {
    background-color:#116466;
  }

  .well {
    background: #d9b08c;
  }

  .choose {
    color: #2c3531;
  }